In [1]:
# Só iremos precisar do Pandas e do Random, também poderia ser criado com Numpy mas acho mais simples assim
import pandas as pd
import random as rd

In [2]:
'''
Como o n de observações será grande, vamos criar uma variável com lista vazia e depois usar o For para gerar tantos valores
aleatórios quanto necessários (300, neste caso). Depois do laço, usamos a função rename do Pandas para renomear a coluna porque
by default ela tem como nome o int(0). Não consegui pensar uma forma melhor de nomear a coluna dentro do laço, então esse foi
o caminho que pareceu mais razoável pra mim.
'''
filmes = []

for n in range(300):
    filmes.append(rd.randint(1,20))
    df = pd.DataFrame(filmes)
    
df.rename(columns={0:'N de filmes'}, inplace=True)
df

     N de filmes
0              3
1              9
2             10
3              2
4              6
..           ...
295           11
296           20
297            4
298           11
299            3

[300 rows x 1 columns]

In [3]:
'''
Agora, vamos criar a coluna com os tipos de filmes. Para isso, criei a variável e passei uma lista com strings de tipos de
filmes. Como a função .randint retorna apenas números inteiros, usamos a .choices para escolher uma string aleatória dentro da
lista que criamos, com k sendo o número de escolhas a serem feitas (neste caso 300, para igualar o n). Pronto!
'''
categorias = ['Drama', 'Romance', 'Comédia', 'Ação', 'Terror', 'Suspense']
df['Tipo mais assistido'] = rd.choices(categorias, k=300)

df

     N de filmes Tipo mais assistido
0              3              Terror
1              9                Ação
2             10               Drama
3              2              Terror
4              6                Ação
..           ...                 ...
295           11             Comédia
296           20             Comédia
297            4             Comédia
298           11               Drama
299            3               Drama

[300 rows x 2 columns]

In [4]:
'''
Agora, só exportar o arquivo para .csv também utilizando uma função do Pandas. É importante utilizar o encoding, porque o Excel
não lê os caracteres especiais (sinais gráficos e acentos) e isso pode causar problemas na leitura dos dados. Outra função a ser
utilizada é a index=False, para que o csv gerado seja somente com as colunas.
'''
df.to_csv('dados_filmes.csv', encoding='utf-8-sig', index=False)